//- a block label with a link
mixin block-label(idText, visibility, display)
  .label-link(style='visibility:#{visibility};display:#{display};')
    a.label(href='#',ng-class='blocksService.getLabelClass(#{idText})',
    ng-href='#/block/{{#{idText}}}')
      span {{#{idText}}}&nbsp;
      i.icon-share.icon-white